<!DOCTYPE html>
<html class="no-js" lang="{{! layout.lang || 'en' }}" {{=layout.htmlAttrs || '' }}>
<head>
  {{? layout.baseUrl }}
  <base href="{{= layout.baseUrl }}">
  {{?}}
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{! page.getPageTitle(layout.title) || 'Home' }}</title>

  {{? layout.icon }}
  <link href="{{= layout.icon }}" type="image/{{! layout.icon.split('.').pop() }}" rel="shortcut icon"/>
  {{?}}

  {{= layout.beforeHead || '' }}
  {{= layout.head || '' }}
  {{= layout.afterHead || '' }}
</head>
<body class="{{! layout.bodyClass || ''}}" {{=layout.bodyAttrs || '' }}>
{{= layout.beforeBody || '' }}
{{= layout.body || '' }}
{{= layout.afterBody || '' }}
</body>
</html>
